.product {
	display: grid;
	grid-template-areas: "image card" "description description";
	grid-template-columns: auto 1fr;
	gap: 1rem;
	
	max-width: 80rem;
	height: fit-content;
	
	margin-inline: auto;
	
	.panel {
		height: 30rem;
		
		&--left {
			grid-area: image;
			justify-self: flex-end;
			
			display: flex;
			justify-content: flex-end;
			
			width: fit-content;
			
			img {
				max-height: 100%;
				width: auto;
				
				border-radius: 1rem;
			}
		}
		
		&--right {
			grid-area: card;
			
			display: flex;
			flex-direction: column;
			align-items: stretch;
			
			.card {
				--icon-size: 1.4rem;
				--icon-gap: 1rem;
				
				display: flex;
				flex-direction: column;
				align-items: stretch;
				
				height: 100%;
				
				padding: 2rem;
				
				> :not(h1, button) {
					padding: 1rem 0;
				}
				
				.warranty,
				.stock {
					border-bottom: 0.1rem solid rgb(204 204 204 / 50%);
				}
				
				.warranty,
				.stock,
				.subtitle {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					gap: var(--icon-gap);
				}
				
				.warranty,
				.stock {
					.icon,
					.title {
						font-size: var(--icon-size);
					}
					
					.icon {
						display: grid;
						place-items: center;
						
						svg {
							height: 1.5em;
							
							font-size: 1em;
						}
					}
					
					.desc {
						.title {
							
						}
						
						.subtitle {
							> * {
								color: #cccccc;
								
								font-size: 1.2rem;
							}
						}
					}
				}
				
				.warranty {
				}
				
				.stock {
					
				}
				
				.price {
					.label {
						color: #cccccc;
						
						font-size: 1.2rem;
					}
					
					.number {
						font-size: 1.6rem;
						font-weight: bold;
						
						&::before {
							content: "";
							
							display: inline-block;
							
							width: calc(var(--icon-size) + var(--icon-gap));
							height: var(--icon-size);
						}
					}
				}
				
				button {
					background: #ff0040;
					color: #fafafa;
					
					align-self: flex-end;
				}
			}
		}
	}
	
	.description {
		grid-area: description;
		
		.title {
			display: flex;
			align-items: center;
			gap: 1rem;
			
			> * {
				font-size: 1.8rem;
				font-weight: bold;
			}
			
			.icon {
				display: flex;
				
				svg {
					font-size: 1em;
				}
			}
		}
		
		p {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			
			font-size: 1.4rem;
			text-align: justify;
			
			span {
				display: block;
			}
		}
	}
}
