.products {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		
		list-style: none;
		
		li {
			background: #242424;
			
			overflow: hidden;
			
			max-width: 20rem;
			
			border-radius: 1rem;
			
			transform: scale(1);
			
			cursor: pointer;
			
			transition: transform 0.1s ease-in-out;
			
			&:hover {
				transform: scale(1.1);
			}
			
			img {
				grid-area: image;
				
				width: 100%;
				height: auto;
			}
			
			.descriptions {
				display: grid;
				grid-template-areas:
					"title    price"
					"subtitle subtitle";
				align-items: center;
				gap: 0.5rem;
				
				padding: 0.5rem 1.5rem;
				
				h3 {
					grid-area: title;
					
					justify-self: flex-start;
					
					font-size: 1.6rem;
					text-align: center;
				}
				
				h5 {
					grid-area: subtitle;
					
					font-size: 1.2rem;
					font-weight: 300;
				}
				
				span {
					justify-self: flex-end;
					
					grid-area: price;
					
					font-size: 1.2rem;
					font-weight: 500;
					
					&::after {
						content: "$";
						margin-inline-start: 0.2rem;
					}
				}
			}
		}
	}
}
