header {
	display: flex;
	align-items: center;

	> * {
		flex: 1;
	}
	
	.logo {
		justify-self: flex-start;

		width: fit-content;

		font-size: 2.4rem;
	}

	nav {
		justify-self: center;

		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			list-style: none;

			li {
				font-size: 1.4rem;
			}
		}
	}

	.github {
		justify-self: flex-end;

		font-size: 1.8rem;
		text-align: right;
	}
}
